logging:
  level.root: WARN
  level.no: ${LOG_LEVEL:INFO}
  level.org.springframework: WARN
  level.org.springframework.web: WARN
server:
  port: 8080
management:
  endpoints:
    web:
      base-path: /
      path-mapping:
        info: ping
        health: ready
      exposure:
        include: health, info, prometheus
  metrics:
    tags:
      application: data-service-catalog
spring:
  data:
    mongodb:
      host: ${MONGODB_HOST}
      username: ${MONGO_USERNAME}
      password: ${MONGO_PASSWORD}
      authentication-database: ${MONGODB_AUTH}
      replica-set-name: ${MONGODB_REPLICASET}
      port: 27017
      database: dataServiceCatalog
      auto-index-creation: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_OIDC_ISSUER}
          jwk-set-uri: ${KEYCLOAK_OIDC_ISSUER}/protocol/openid-connect/certs
          audiences: dataservice-catalog
          authorities-claim-name: authorities
          authority-prefix: ""
          authorities-claim-delimiter: ","
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  mvc:
    problemdetails:
      enabled: true
application:
  base-uri: ${BASE_URI:http://localhost}
  organization-catalog-base-uri: ${ORGANIZATION_CATALOG_BASE_URI:https://organization-catalog.staging.fellesdatakatalog.digdir.no}
  cors:
    originPatterns: "${CORS_ORIGIN_PATTERNS}"

---
spring:
  config:
    activate:
      on-profile: dev
  data:
    mongodb:
      host: localhost
      username: root
      password: secret
      authentication-database: admin
      replica-set-name: null
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.staging.fellesdatakatalog.digdir.no/realms/fdk
          jwk-set-uri: https://auth.staging.fellesdatakatalog.digdir.no/realms/fdk/protocol/openid-connect/certs
application:
  cors:
    originPatterns: "*"
logging.level.no: DEBUG

---
spring:
  config:
    activate:
      on-profile: test
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:5050/auth/realms/fdk
          jwk-set-uri: http://localhost:5050/auth/realms/fdk/protocol/openid-connect/certs
application:
  cors:
    originPatterns: "*"
