apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: data-service-catalog
  name: data-service-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: data-service-catalog
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: data-service-catalog
    spec:
      containers:
        - name: data-service-catalog
          env:
            - name: JAVA_TOOL_OPTIONS
              value: "-XX:MaxRAMPercentage=80.0"
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: data-service-catalog
                  key: MONGODB_USER
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: data-service-catalog
                  key: MONGODB_PASSWORD
            - name: MONGODB_HOST
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_HOST
            - name: MONGODB_AUTH
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_AUTH
            - name: MONGODB_REPLICASET
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_REPLICASET
            - name: SSO_HOST
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: SSO_BASE_URI
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: data-service-catalog
                  key: CORS_ORIGIN_PATTERNS
          image: data-service-catalog
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "750Mi"
              cpu: "20m"
            limits:
              memory: "750Mi"
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
      restartPolicy: Always
